* {
  margin: 0px;
  padding: 0px;
}

:root {
  background-color: gray;
}

body {
  /* width: 320px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  color: white;
  font-size: 6vw;
}

/* section headers */
h2 {
  color: black;
  margin-bottom: 15px;
  font-size: 5vw;
}

h3 {
  color: red;
  font-size: 4vw;
}



/* HEADER */

header {
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: calc(100vw - 30px);
}

img.headshot {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* width: calc(100vw - 30px); */
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

h1.myname {
  position: absolute;
  top: 5%;
  left: 5%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);;
}

/* ABOUT ME */

div.aboutmewrapper {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

h2.h2aboutme {
  text-align: center;
}

p.aboutmetext {
  line-height: 1.5;
}

/* MOBILE ICONS */
.mobileiconswrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 30px;
}

.mobileicon {
  height: 32px;
}

/* MY WORK */

main.myworkwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

div.projectbox {
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  margin-bottom: 30px;
  background-color: yellow;
  padding-bottom: 15px;
}

img.projectscreenshot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.projectnamerow {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img.projecticon {
  height: 26px;
}

p.projectdescription {
  padding-left: 10px;
}

/* FOOTER */

footer {
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgb(58, 185, 185);
  font-weight: 300;
  white-space:normal;
}

h2.h2footer {
  color: white;
}

p.footertext {
  font-size: 3.2vw;
  margin-bottom: 15px;
}

.footerinfo {
  font-size: 2.5vw;
  margin-bottom: 15px;
}

.footericonswrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.footericon {
  height: 32px;
}

.bottomimage {
  width: 100%;
  object-fit: contain;
}


